<div class="row clearfix" ng-controller="app.views.DM_SENSOR.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 class="pull-left">
                    Danh mục sensor
                </h2>
                <div class="pull-right m-r-25 top-actions">
                    <button type="button" class="btn btn-primary waves-effect" ng-click="vm.openCreationModal();">
                        Thêm mới
                    </button>
                </div>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear clearfix"></div>
            </div>
            <div class="body table-responsive">

                <div class="row clearfix">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 margin-0">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="vm.Filter" class="form-control" placeholder="Nhập thông tin tìm kiếm">
                            </div>
                        </div>
                    </div>                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 margin-0">
                        <button type="button" class="btn btn-primary waves-effect" ng-click="vm.refresh();">
                            Tìm kiếm
                        </button>
                    </div>
                </div>

                <!-- ******************************************************** -->
                <table class="table table-hover table-striped his-table">
                    <thead>
                        <tr>
                            <th width="5px" class="text-center">STT</th>
                            <th>Tên Sensor</th>
                            <th>Mã</th>
                            <th>Mô tả</th>
                            <th width="10%">Xử lý</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.objEntitys">                            
                            <td class="text-center" >{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.description}}</td>
                            <td class="dropdown">                                
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.openEditModal(item)" title="@L("Edit")" ><i class="material-icons">create</i></a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(item)" title="@L("Delete")"><i class="material-icons">delete_sweep</i></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination-wrap col-md-12">
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination" items-per-page="itemsPerPage"
                        boundary-links="true" force-ellipses="true" max-size="maxSize" first-text="Trang đầu" last-text="Trang cuối"
                        next-text ="Trang sau" previous-text="Trang trước"></ul>
                </div>
            </div>
        </div>
    </div>
</div>